<div class="w-full flex justify-center">
    <a class="bg-blue-800 px-6 py-2 m-4 shadow-lg hover:shadow-xl transform hover:-translate-y-0.5 transition-shadow transition-translate rounded text-white text-lg" href="{{ href }}">{{ text }}</a>
</div>