<a
    class="bg-blue-100 px-4 py-2 m-0.5 shadow-none rounded-md border-solid border-2 hover:border-blue-700 {% if
        choice.selected %}border-blue-700{% else %}border-transparent{% endif %}"
    href="{% if prefix %}/{{ prefix }}{% endif %}/{{ choice.id }}"
    data-turbo-action="replace">
    {{ choice.label }}
</a>