<footer class="fr-footer" role="contentinfo" id="footer">    
    <div class="fr-footer__top">        
        <div class="fr-container">           
            <div class="fr-grid-row fr-grid-row--start fr-grid-row--gutters">                
                <div class="fr-col">                    
                    <h3 class="fr-footer__top-cat">L'Open Data</h3>                    
                        <ul class="fr-footer__top-list">                        
                            <li>                            
                                <a class="fr-footer__top-link" href="https://www.data.gouv.fr/fr/pages/thematiques-a-la-une">Thématiques à la une
                                </a>                        
                            </li>                        
                            <li>                            
                                <a class="fr-footer__top-link" href="https://www.data.gouv.fr/fr/pages/spd/reference">Données de référence</a>                        
                            </li>                        
                            <li>                            
                                <a class="fr-footer__top-link" href="https://www.data.gouv.fr/fr/datasets/catalogue-des-donnees-de-data-gouv-fr/">Catalogue des données</a>                        
                            </li>                      
                            <li>                            
                                <a class="fr-footer__top-link" href="https://ouverture.data.gouv.fr/">Suivre l'ouverture des données</a>                        
                            </li>                        
                        </ul>               
                </div>               
            <div class="fr-col">                    
                <h3 class="fr-footer__top-cat">Plateforme</h3>                    
                    <ul class="fr-footer__top-list">                        
                        <li>                            
                            <a class="fr-footer__top-link" href="https://guides.data.gouv.fr/">Guides</a>                       
                        </li>                        
                        <li>                            
                            <a class="fr-footer__top-link" href="https://www.data.gouv.fr/fr/pages/nouveautes">Nouveautés</a>                        
                        </li>                        
                        <li>                            
                            <a class="fr-footer__top-link" href="https://support.data.gouv.fr/">Nous contacter</a>                        
                        </li>                        
                        <li>                            
                            <a class="fr-footer__top-link" href="https://tally.so/r/mOld5R">Donnez votre avis</a>                        
                        </li>                        
                    </ul>               
            </div>                
            <div class="fr-col">                    
                <h3 class="fr-footer__top-cat">Ressources</h3>                   
                    <ul class="fr-footer__top-list">                        
                        <li>                            
                            <a class="fr-footer__top-link" href="https://api.gouv.fr/">Portail des API</a>                        
                        </li>                        
                        <li>                            
                            <a class="fr-footer__top-link" href="https://schema.data.gouv.fr/">Référentiel des schémas de données</a>                        
                        </li>                        
                        <li>                            
                            <a class="fr-footer__top-link" href="https://www.data.gouv.fr/fr/pages/odu/home">Open Data University</a>                        
                        </li>                        
                        <li>                            
                            <a class="fr-footer__top-link" href="https://data.europa.eu/">Portail des données européennes</a>                        
                        </li>                                      
                    </ul>                
            </div>                
            <div class="fr-col">                    
                <h3 class="fr-footer__top-cat">Développement</h3>                    
                    <ul class="fr-footer__top-list">                            
                        <li>                            
                            <a class="fr-footer__top-link" href="https://guides.data.gouv.fr/publier-des-donnees/guide-data.gouv.fr/api/reference">API du portail</a>                        
                        </li>                        
                        <li>                            
                            <a class="fr-footer__top-link" href="https://github.com/opendatateam/udata/">Moteur open source : udata (7.0.1)</a>                        
                        </li>                       
                        <li>                            
                            <a class="fr-footer__top-link" href="https://github.com/etalab/udata-front/">Extension du thème udata : udata-front (3.2.12)</a>                        
                        </li>                                           
                    </ul>                
                 </div>                
            </div>        
        </div>    
    </div>    
<div class="fr-container">        
    <div class="fr-footer__body">            
        <div class="fr-footer__brand fr-enlarge-link">                
            <a href="https://www.data.gouv.fr/fr/" title="Retour à l’accueil de data.gouv.fr">                    
                <p class="fr-logo">                        
                République                        
                <br>Française                    
                </p>                
            </a> 
                <a class="fr-footer__brand-link" href="https://www.data.gouv.fr/fr/" title="data.gouv.fr">
                    <img class="fr-footer__logo" style="width:8rem;margin-left:3rem;" src="/logo.png" alt="logo de data.gouv.fr" />
                </a>           
        </div>            
            <div class="fr-footer__content">                
                <p class="fr-footer__content-desc">Un produit de la Direction Interministérielle du Numérique (DINUM).</p>                
                    <ul class="fr-footer__content-list">                    
                        <li class="fr-footer__content-item">                        
                            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>                    
                        </li>                    
                        <li class="fr-footer__content-item">                        
                            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre" href="https://gouvernement.fr">gouvernement.fr</a>                    
                        </li>                    
                        <li class="fr-footer__content-item">                        
                            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre" href="https://service-public.fr">service-public.fr</a>                    
                        </li>                    
                    </ul>            
            </div>        
                </div>        
            <div class="fr-footer__bottom">            
                <ul class="fr-footer__bottom-list">                
                    <li class="fr-footer__bottom-item">                    
                        <a class="fr-footer__bottom-link" href="#">Licences</a>                
                    </li>                
                    <li class="fr-footer__bottom-item">                    
                        <a class="fr-footer__bottom-link" href="#">Conditions générales d'utilisation</a>                
                    </li>                
                    <li class="fr-footer__bottom-item">                    
                        <a class="fr-footer__bottom-link" href="#">Politique de confidentialité</a>                
                    </li>                
                    <li class="fr-footer__bottom-item">                    
                        <a class="fr-footer__bottom-link" href="#">Accessibilité : partiellement conforme</a>                
                    </li>                  
                </ul>            
            <div class="fr-footer__bottom-copy">    
                <p>Sauf indication contraire, tout le contenu de ce site est disponible sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" rel="noopener external" title="[Licence] - nouvelle fenêtre">Licence Ouverte 2.0</a>    
                </p>          
            </div>        
        </div>    
    </div></footer>