<turbo-frame id="form" data-controller="form" data-form-next-value="/merci" data-action="turbo:submit-end->form#next">
    <form action="/tickets" method="POST">
        {% include 'includes/form/content.njk' %}
    </form>
</turbo-frame>