<title>
    {% block title %}{% endblock %}
</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="/dist/{{ mainCss }}"/>
<script type="text/javascript" src="/dist/{{ mainJs }}" defer></script>