<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <a href="/" title="Accueil - [À MODIFIER | nom de l’entité (ministère , secrétariat d‘état, gouvernement)]">
                                <p class="fr-logo">
                                    République
                                    <br>française
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Support">
                            <p class="fr-header__service-title">Support data.gouv.fr</p>
                        </a>
                        <p class="fr-header__service-tagline">Ça aide plein de gens</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>