<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>française
                                </p>
                            </div>
                            <div class="fr-header__navbar">
                                <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833" aria-haspopup="menu" title="Menu">
                                    Menu
                                </button>
                            </div>
                        </div>
                        <div class="fr-header__service">
                            <a href="/" title="Support data.gouv.fr">
                                <p class="fr-header__service-title">Support data.gouv.fr</p>
                            </a>
                            <p class="fr-header__service-tagline">Nous sommes là pour vous aider !</p>
                        </div>
                    </div>
                    <div class="fr-header__tools">
                        <div class="fr-header__tools-links">
                            <ul class="fr-links-group">
                                <li>
                                    <a class="fr-link fr-fi-account-line" href="https://www.data.gouv.fr/fr/login">Connexion / Inscription</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navigation principale -->
        <div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="button-834">
            <div class="fr-container">
                <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
                <div class="fr-header__menu-links"></div>
                <nav class="fr-nav" id="navigation-832" role="navigation" aria-label="Menu principal">
                    <ul class="fr-nav__list">
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="https://www.data.gouv.fr/fr/datasets" target="_self">Données</a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="https://www.data.gouv.fr/fr/reuses" target="_self">Réutilisations</a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="https://www.data.gouv.fr/fr/organizations" target="_self">Organisations</a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="https://www.data.gouv.fr/fr/dashboard" target="_self">Tableau de bord</a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="https://doc.data.gouv.fr" target="_self">Documentation technique</a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="https://guides.etalab.gouv.fr" target="_self">Guides de l’Open Data</a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="https://www.data.gouv.fr/fr/posts" target="_self">Actualités</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>