<!DOCTYPE html>
<html>
    <head>
        {% include 'includes/head.njk' %}
    </head>
    <body>
        {% include 'includes/header.njk' %}
        <div class="md:max-w-screen-md mx-auto mt-16"> {% block body %}{% endblock %}
            </div>
        </body>
    </html>