{% set title = "Support data.gouv.fr" %}
{% extends 'base.njk' %}
{% block body %}

<div class="fr-container">

    <h1 class="mb-12">Bienvenue sur le support de la plateforme data.gouv.fr 👋</h1>

   <div style="display: flex; gap: 15px; margin-bottom: 30px;">

        <div class="fr-card fr-card--horizontal fr-enlarge-link" style="flex: 1;">
            <div class="fr-card__body">

             <h4 class="fr-card__title">
                <a href="https://guides.data.gouv.fr/" class="fr-card__link">Les guides de data.gouv.fr sur l’open data 📚</a>
            </h4>
            <p class="fr-card__desc">Les guides de data.gouv.fr sur l'open data visent à vous accompagner dans votre démarche d’ouverture et d’exploitation des données publiques.</p>
            <p class="fr-card__detail">Apprendre les bonnes pratiques de l’open data.</p>
            </div>
        </div>


        <div class="fr-card fr-card--horizontal fr-enlarge-link" style="flex: 1;">
            <div class="fr-card__body">

            <h4 class="fr-card__title">
                <a href="https://guides.data.gouv.fr/publier-des-donnees/guide-data.gouv.fr" class="fr-card__link">La documentation de data.gouv.fr ⚙️</a>
            </h4>
            <p class="fr-card__desc">Consulter la documentation pour vous aider à utiliser la plateforme, savoir comment publier des données encore utiliser l'API.</p>
            <p class="fr-card__detail">Savoir comment utiliser la plateforme data.gouv.fr.</p>
            </div>
        </div>
    </div>

    
    <p><strong> Questions les plus fréquentes : </p></strong>
<ul class="fr-accordions-group">
    <li>
        <section class="fr-accordion">
            <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1">Vos données sont visibles dans la base Sirene et vous souhaitez les rendre privées ?</button>
            </h3>
            <div class="fr-collapse" id="accordion-1">
                Si vous souhaitez rendre privées les données de votre organisation, vous devez en faire la demande auprès de l'Insee qui publie ces données dans le répertoire Sirene. Les étapes de cette demande sont détaillées dans <a href="https://www.insee.fr/fr/information/7456564" target="_blank"></a>ce guide de l'Insee</a>. Pour les entrepreneurs individuels, voici un lien direct vers la <a href="https://statut-diffusion-sirene.insee.fr/">téléprocédure</a>. 
            </div>
        </section>
    </li>
   <li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1">Vous cherchez votre numéro de SIRET, SIREN ou RNA ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-1">
               <br/>
               <p>Si vous rechercher votre numéro SIRET ou SIREN vous pouvez vous rendre sur le site <a href="https://annuaire-entreprises.data.gouv.fr/" target="_blank"> Annuaire des entreprises</a>.
                </p>
               <br/>
               <p>Si vous êtes une association et recherchez votre numéro RNA, 
                vous pouvez consulter le moteur de recherche des associations du <a href="https://www.journal-officiel.gouv.fr/associations/recherche/" target="_blank"> journal officiel</a> (dont nous ne sommes pas responsables).
                Pour plus d'informations, vous pouvez consulter le site <a href="https://www.service-public.fr/associations" target="_blank"> Service-Public.fr</a>.
            </p>
             
           </div>
       </section>
   </li>
   <li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-3">Vous avez une question sur le fichier des personnes décédées ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-3">
               <br/>
               <p>Les fichiers des personnes décédées disponibles sur data.gouv.fr sont recueillis par l'Insee à partir des informations reçues des communes.
                Pour faire une recherche dans ces fichiers vous pouvez utilisez le service suivant <a href="https://deces.matchid.io/search" target="_blank"> Match_Id</a> (dont nous ne sommes pas responsable).
                Pour plus d'informations, vous pouvez consulter <a href="https://www.insee.fr/fr/information/4190491" target="_blank">cette page</a>.</p>
           </div>
       </section>
   </li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-4">Vous avez une question sur l'application DVF (demandes de valeurs foncières) ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-4">
               <br/>
               <p> 
                Vous pouvez consulter la <a href="https://explore.data.gouv.fr/fr/immobilier?onglet=faq" target="_blank"> foire aux questions </a> de l'application. Les bases de données sources, ainsi que le code source sont détaillés <a href="https://explore.data.gouv.fr/fr/immobilier?onglet=sources">ici.</a>
               </p>
               <b>Les jeux de données et API "demandes de valeurs foncière" :</b>
               <ul>
                <li>
                    <a href="https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres/">Base de données "Demandes de valeurs foncières"</a> du Ministère de l'Économie, des Finances et de l'Industrie
                </li>
                <li>
                    <a href="https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres-geolocalisees/">Base de données "Demandes de valeurs foncières géolocalisées"</a> de Data.gouv.fr
                </li>
                <li>
                    <a href="https://api.gouv.fr/les-api/api-donnees-foncieres" alt="TODO-CHANGER CE LIEN">API données foncières</a> du CEREMA, en accès restreint à certaines administrations, car contenant des données personnelles sur les propriétaires, leur foncier et leurs locaux.
                </li>
               </ul>
           </div>
       </section>
   </li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-5">Vous avez une question sur la base adresse nationale ? une adresse est incorrecte ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-5">
            <br/>
                <p>
                    Vous pouvez consulter la <a href="https://adresse.data.gouv.fr/nous-contacter" target="_blank"> foire aux questions dédiée</a>.
                </p>
           </div>
       </section>
   </li>
   </li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-14">Vous avez une question sur le cadastre ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-14">
               <br/>
               <p>Si vous avez une question sur le cadastre (rechercher un propriétaire, 
                remonter une erreur dans les données de valeur foncière, s’informer sur la mitoyenneté, etc.), nous vous invitons à consulter notre <a href="https://guides.data.gouv.fr/reutiliser-des-donnees/autour-du-cadastre/faq-cadastre" target="_blank"> « Foire aux questions sur le cadastre »</a>.
                Pour toute question sur l’utilisation et la manipulation des données du cadastre, vous pouvez consulter <a href="https://guides.data.gouv.fr/reutiliser-des-donnees/autour-du-cadastre" target="_blank"> le guide dédié</a>.</p>
           </div>
       </section>
   </li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-6">Vous avez une question sur les limites d'appels de l’API découpage administratif (API Geo) ? </button>
           </h3>
           <div class="fr-collapse" id="accordion-6">
            <!--Cette documentation n'est pas en concordance avec les informations présente
            dans la fiche API.gouv : https://demo.data.gouv.fr/fr/dataservices/api-decoupage-administratif-api-geo/
            Proposition est de supprimer cette doc et de renvoyer vers la future fiche API en la complétant-->
               <br/>
               <p>Les volumétries d'appel sont décrites dans la <a href="TODO">fiche de l'API</a>.</p>
                <p><strong>Est-il possible de faire lever les limites de l’API ?</strong><br/>
                Oui, mais uniquement si vous êtes un service public ou chargé d’une mission de service public.
                Dans le cas contraire, vous pouvez aussi héberger notre API de géocodage chez vous, 
                en suivant<a href="https://github.com/BaseAdresseNationale/addok-docker" target="_blank"> ces instructions</a>.</p>
           </div>
       </section>
   </li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-7">Vous avez une question sur des données relatives au COVID-19 ?</button>
           </h3>
           <!--Est-ce que c'est toujours d'actu ? Surtout la partie "attestation"-->
           <div class="fr-collapse" id="accordion-7">
               <br/>
               <ul>
                <li>Pour toute information sur la COVID-19 vous pouvez consulter le site <a href="https://www.gouvernement.fr/info-coronavirus" target="_blank"> gouvernement.fr</a>.</li>
                <li>Pour trouver un rendez vous, vous pouvez consulter <a href="https://www.sante.fr/" target="_blank"> sante.fr</a>.</li>
                <li>Pour récupérer votre attestation, vous pouvez consulter votre appli TousAntiCovid ou votre espace <a href="https://www.ameli.fr" target="_blank"> ameli.fr</a>.</li>
                </ul>
           </div>
       </section>
    </li>
    <li>
        <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-8">Vous recherchez une API ou base de données des plaques d'immatriculation ou des cartes grises ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-8">
               <p>
                  À notre connaissance, il n’existe pas d’API qui référence les cartes grises ou les immatriculations de véhicules. Pour plus d’informations vous pouvez prendre contact avec le ministère de l'Intérieur depuis le site <a href="https://immatriculation.ants.gouv.fr/" target="_blank">France Titres</a>.
               </p>
            </div>             
       </section>
   </li>
   <li>
          <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-8">Vous avez une question sur le répertoire national des infrastructures de recharge pour véhicules électriques (IRVE) ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-8">
               <br/>
               <p>Nous vous invitons à consulter <a href="https://doc.transport.data.gouv.fr/producteurs/infrastructures-de-recharge-de-vehicules-electriques-irve" target="_blank"> la documentation dédiée</a>  
               concernant la création et la publication des données de ces données.</p>
            </div>             
       </section>
   </li>
    <li>
        <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-8">Vous cherchez l'API Tiers de prestations pour bénéficier du dispositif d'avance immédiate du crédit d'impôt "service à la personne" ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-8">
               <br/>
               <p>Cette API n'est pas référencée sur data.gouv.fr car il s'agit d'une démarche en ligne. Vous pouvez accéder à cette démarche de l'Urssaf en suivant <a href="https://www.demarches-simplifiees.fr/commencer/api-tiers-de-prestations" target="_blank">ce lien vers Démarches simplifiées</a>.</p>
            </div>             
       </section>
   </li>
          <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-9">Vous avez une question relative à vos données personnelles ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-9">
               <br/>
               <p>L'organisme en mesure de vous aider est <a href="https://www.cnil.fr/" target="_blank"> la Commission nationale de l'informatique et des libertés (CNIL)</a>.</p>
           </div>
        </section>
   </li>
          <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-10">Vous avez une question sur un titre de séjour ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-10">
               <br/>
               <p>Le site data.gouv.fr ne permet pas aux particuliers de remplir des formalités administratives et notre support n'est pas en mesure de vous aider sur ces sujets. 
                Vous pouvez vous référer à l'administration compétente ou consulter les liens suivants :
               <ul>
                <li><a href="https://www.service-public.fr/particuliers/vosdroits/N110" target="_blank"> La fiche dédiée sur Service-Public.fr</a>.</li>
                <li><a href="https://www.refugies.info/demarche/5dc2da982e9859001680b8a2" target="_blank"> Le site refugies.info</a>.</li>
                <li><a href="https://administration-etrangers-en-france.interieur.gouv.fr/particuliers/#/contact" target="_blank"> Contacter le service compétent du Ministère du l'Intérieur</a>.</li>
                </ul>
           </div>
       </section>
   </li>
          <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-11">Vous avez un doute ou avez été victime de fraude ou d'escroquerie ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-11">
               <br/>
               <p>Notre équipe n'est pas en mesure de vous aider sur ces questions. Vous pouvez vous référez à :
               <ul>
                <li><a href="https://www.service-public.fr/particuliers/vosdroits/F1520" target="_blank"> La fiche pratique escroquerie de Service-Public.fr</a>.</li>
                <li><a href="https://www.service-public.fr/particuliers/vosdroits/F34800" target="_blank"> La fiche pratique phishing (hameçonnage) sur Service-Public.fr</a>.</li>
                <li><a href="https://www.cybermalveillance.gouv.fr/diagnostic/accueil" target="_blank"> L’outil de diagnostic sur cybermalveillancance.gouv.fr</a>.</li>
                </ul>
           </div>
        </section>
   </li>
          <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-12">Vous avez une question sur le compte professionnel de formation (CPF) ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-12">
               <br/>
               <p>Notre équipe n'est pas en mesure de vous aider sur ces questions. Vous pouvez vous référez à 
                <a href="https://www.service-public.fr/particuliers/vosdroits/F10705" target="_blank"> 
                la fiche pratique sur Service-Public.fr</a>.</p>
           </div>
        </section>
   </li>
          <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-13">Vous avez une question sur un organisme de formation ou une certification Qualiopi ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-13">
               <br/>
               <!--Il manque la liste et le lien derrière le ici-->
               <p>Notre équipe n'est pas en mesure de vous aider sur ces questions.
                Si vous ne trouvez pas réponse à votre question dans les éléments suivants vous pouvez contacter <a href="https://travail-emploi.gouv.fr/ministere/article/nous-contacter" target="_blank">
                le Ministère du Travail. </a>.</p>
                <p><strong>Vous ne trouvez pas votre organismes de formation dans la liste ?</strong><br/>
                Retrouvez toutes les informations utiles pour déclarer votre organisme ou transmettre votre Bilan Pédagogique et Financier sur le site du Ministère du travail:
                <a href="http://travail-emploi.gouv.fr/formation-professionnelle/organismes-de-formation-fonctionnement/organismes-formation" target="_blank"> 
                les formalités de création et de fonctionnement des organismes de formation </a>.<br/>
                <p><strong>Vous souhaitez modifier certaines informations ?</strong><br/>
                Les informations sont issues des déclarations annuelles effectuées par l'organisme de formation auprès du services régional de contrôle de sa DREETS, 
                mais vous pouvez demander à tout moment la modification de certaines informations en contactant votre DREETS ou en accédant à votre espace personnel sur
                <a href="https://www.monactiviteformation.emploi.gouv.fr/" target="_blank">l'application Mon Activité Formation</a>.<br/>
                <p><strong>Les informations concernant votre certification QUALIOPI vous semblent erronées ?</strong><br/>
                Contactez votre organisme certificateur afin qu'il transmette votre certification. Attention de bien lui fournir votre nouveau NDA si celui-ci a changé récemment.</p>
           </div>
        </section>
    </li>
    </li>
          <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-12">Vous rencontrez un problème avec DataPass ?</button>
           </h3>
           <div class="fr-collapse" id="accordion-12">
               <br/>
               <p>DataPass est un service permettant aux administrations et collectivités d'être habilitées à accéder à des données en accès restreint. Que vous soyez une administration fournisseur de données ou utilisatrice de données, vous pouvez vous référez à la <a href="https://datapass.api.gouv.fr/faq" target="_blank">FAQ du service Datapass</a>.</p>
           </div>
        </section>
   </li>
</ul>
<br/>


    <turbo-frame id="support-tree">
        {% for level in supportFlow.levels %}
            {% set prefix %}{{ choicesPrefixes[loop.index0 - 1] }}{% endset %}
            {% include 'includes/question.njk' %}
        {% endfor %}
        <div class="my-12">
            {% if supportFlow.isFullyFilled %}
                {% include 'includes/answer.njk' %}
            {% endif %}
        </div>
    </turbo-frame>

</div>


{% endblock %}

