{% set title = "Support data.gouv.fr" %}
{% extends 'base.njk' %}
{% block body %}
    <h1 class="mb-12">Bonjour 👋, comment pouvons-nous vous aider ?
    </h1>
    <p>Pour commencer, nous aimerions faire connaissance :</p>
    <turbo-frame id="support-tree">
        {% for level in supportFlow.levels %}
            {% set prefix %}{{ choicesPrefixes[loop.index0 - 1] }}{% endset %}
            {% include 'includes/question.njk' %}
        {% endfor %}
        {% if supportFlow.isFullyFilled %}
            {% include 'includes/answer.njk' %}
        {% endif %}
    </turbo-frame>
{% endblock %}