{% set title = "Support data.gouv.fr" %}
{% extends 'base.njk' %}
{% block body %}
    <div class="flex justify-center">
        <h3>🙏 Merci d'avoir pris le temps de nous contacter !
        </h3>
    </div>
{% endblock %}