{% macro fieldIsInError(fieldName) -%}
    {% for error in error.inner -%}
        {% if error.path == fieldName -%}
            {{ 'yes' }}
        {%- endif %}
    {%- endfor %}
{%- endmacro %}
<turbo-frame id="form">
    <form action="/tickets" method="POST">
        <div class="fr-input-group {%- if fieldIsInError('author') != '' %} fr-input-group--error{% endif %}">
            <label class="fr-label" for="author">Votre adresse email</label>
            <input class="fr-input {%- if fieldIsInError('author') != '' %} fr-input--error{% endif %}" type="text" id="author" name="author"/>
            {% if fieldIsInError('author') != '' %}
                <p class="fr-error-text">
                    Veuillez saisir une adresse email valide.
                </p>
            {% endif %}
        </div>
        <div class="fr-input-group" {%- if fieldIsInError('subject') != '' %} fr-input-group--error {% endif %}>
            <label class="fr-label mt-4" for="subject">L'objet de votre message</label>
            <input class="fr-input" type="text" id="subject" name="subject"/>
        </div>
        <div class="fr-input-group" {%- if fieldIsInError('body') != '' %} fr-input-group--error {% endif %}>
            <label class="fr-label mt-4" for="body">Votre question</label>
            <textarea class="fr-input" type="text" id="body" name="body"></textarea>
        </div>
        <div class="w-full flex justify-center">
            <button class="bg-blue-800 px-6 py-2 m-4 shadow-lg hover:shadow-xl transform hover:-translate-y-0.5 transition-shadow transition-translate rounded text-white text-lg" type="submit">Envoyer</button>
        </div>
    </form>
</turbo-frame>