{% macro fieldIsInError(fieldName) -%}
    {% for error in error.inner -%}
        {% if error.path == fieldName -%}
            {{ 'yes' }}
        {%- endif %}
    {%- endfor %}
{%- endmacro %}
{% macro renderField(fieldName, label, errorMessage, tag='input') %}
    {% set fieldInError = fieldIsInError(fieldName) != '' %}
    <div class="fr-input-group {%- if fieldInError %} fr-input-group--error{% endif %}">
        <label class="fr-label" for="{{ fieldName }}">{{ label }}</label>
        <{{ tag }} class="fr-input {%- if fieldInError %} fr-input--error{% endif %}" type="text" id="{{ fieldName }}" name="{{ fieldName }}"></{{ tag }}>
        {% if fieldInError %}
            <p class="fr-error-text">
                {{ errorMessage }}
            </p>
        {% endif %}
    </div>
{% endmacro %}
<turbo-frame id="form">
    <form action="/tickets" method="POST">
        {{ renderField('author', 'Votre adresse email', 'Veuillez renseigner une adresse email valide.') }}
        {{ renderField('subject', "L'objet de votre question", 'Veuillez renseigner un object pour votre question.') }}
        {{ renderField('body', 'Votre question', 'Veuillez remplir votre question.', 'textarea') }}
        <div class="w-full flex justify-center">
            <button class="bg-blue-800 px-6 py-2 m-4 shadow-lg hover:shadow-xl transform hover:-translate-y-0.5 transition-shadow transition-translate rounded text-white text-lg" type="submit">Envoyer</button>
        </div>
    </form>
</turbo-frame>