{% from 'macros/form.njk' import renderField %}
{{ renderField('author', 'Votre adresse email', 'Veuillez renseigner une adresse email valide.', error.fieldsInError, userInput) }}
{{ renderField('subject', "L'objet de votre question", 'Veuillez renseigner un object pour votre question.', error.fieldsInError, userInput) }}
{{ renderField('body', 'Votre question', 'Veuillez remplir votre question.', error.fieldsInError, userInput,  'textarea') }}
<div class="fr-input-group hidden">
    <label class="fr-label hidden" for="name">Votre nom d'humain</label>
    <input class="fr-input hidden" type="text" id="name" name="name"/>
</div>
<input class="fr-input hidden" type="text" name="recipient" value="{{ recipient | default(userInput.recipient) }}"/>
<div class="w-full flex justify-center">
    <button class="bg-blue-800 px-6 py-2 m-4 shadow-lg hover:shadow-xl transform hover:-translate-y-0.5 transition-shadow transition-translate rounded text-white text-lg" type="submit">Envoyer</button>
</div>
{% include 'includes/form/global-error.njk' %}