{% if error and error.inner == undefined %}
    <p class="fr-error-text">
        Oh mince ! Une erreur technique est survenue de notre côté, nos équipes travaillent à réparer cela !
    </p>
{% endif %}